.carousel-caption{
    margin-bottom:20%;
}
.carousel-item h5{
    font-size: 35px;
}
.card-fruit{
    margin-top: -40px;
}
/* .foot-top{
    background-color:#f8f9fa ;
} */
.foot-text{
    text-align: center;
    color: #1a8554;
 
    
}
.foter{
    background-color: #212529;
    color: #fff;
    text-align: center;
   
}